In [4]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (9.4.0)

In [1]:
import mysql.connector


mydb = mysql.connector.connect(
 host="localhost",
 user="root",
 password="",


)


print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000251CDA73CB0>

In [7]:
import pandas as pd

In [8]:
df=pd.read_csv("C://Users//admin//Downloads//traffic_stops - traffic_stops_with_vehicle_number.csv")

C:\Users\admin\AppData\Local\Temp\ipykernel_21296\3804491888.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("C://Users//admin//Downloads//traffic_stops - traffic_stops_with_vehicle_number.csv")

In [9]:
display(df['vehicle_number'])

0        UP76DY3473
1        RJ83PZ4441
2        RJ32OM7264
3        RJ76TI3807
4        WB63BB8305
            ...
65533    DL56GW6568
65534    TN73EO7098
65535    GJ33MX8328
65536    KA24UZ8488
65537    UP89PT2924
Name: vehicle_number, Length: 65538, dtype: object

In [15]:
duplicates=df['vehicle_number'].duplicated()
print(duplicates)

0        False
1        False
2        False
3        False
4        False
         ...
65533    False
65534    False
65535    False
65536    False
65537    False
Name: vehicle_number, Length: 65538, dtype: bool

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  datetime64[ns]
 1   stop_time           65538 non-null  datetime64[ns]
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age_raw      65538 non-null  int64
 5   driver_age          65538 non-null  int64
 6   driver_race         65538 non-null  object
 7   violation_raw       65538 non-null  object
 8   violation           65538 non-null  object
 9   search_conducted    65538 non-null  bool
 10  search_type         65538 non-null  object
 11  stop_outcome        65538 non-null  object
 12  is_arrested         65538 non-null  bool
 13  stop_duration       65538 non-null  object
 14  drugs_related_stop  65538 non-null  bool
 15  vehicle_number      65538 non-null  object
dtypes: bool(3), datetime64[ns](2), int64(2), object(9)
memory usage: 6.7+ MB

In [49]:
df.isnull().sum()

stop_date             0
stop_time             0
country_name          0
driver_gender         0
driver_age_raw        0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
search_type           0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
vehicle_number        0
dtype: int64

In [42]:
df = df.fillna('unknown')

In [50]:
df['stop_date'] = df['stop_date'].astype('datetime64[ns]')
df['stop_time'] = df['stop_time'].astype('datetime64[ns]')

In [43]:
df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,unknown,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,unknown,Ticket,True,16-30 Min,False,UP89PT2924

In [60]:
df.to_csv('traffic_stops.csv',index=False)

In [12]:
df=pd.read_csv("traffic_stops.csv")

In [55]:
mycursor.execute('create database if not exists Police')
print('Database created successfully')

Database created successfully

In [9]:
mycursor.execute("""create table Police.data(
    id INT AUTO_INCREMENT PRIMARY KEY,
    stop_date DATE,
    stop_time DATETIME,
    country_name VARCHAR(50),
    driver_gender VARCHAR(10),
    driver_age_raw INT(4),
    driver_age INT(4),
    driver_race VARCHAR(50),
    violation_raw VARCHAR(50),
    violation VARCHAR(50),
    search_conducted BOOLEAN,
    search_type VARCHAR(50),
    stop_outcome VARCHAR(50),
    is_arrested BOOLEAN,
    stop_duration VARCHAR(50),
    drugs_related_stop BOOLEAN,
    vehicle_number VARCHAR(50)
                 )""")

In [13]:
insert_query = """ insert into Police.data 
        (stop_date, stop_time, country_name , driver_gender, driver_age_raw ,
    driver_age, driver_race, violation_raw, violation, search_conducted, search_type,
    stop_outcome, is_arrested, stop_duration, drugs_related_stop, vehicle_number)
    values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"""

for _, row in df.iterrows():
    data_list = (
        row.get('stop_date', None),
        row.get('stop_time', None),
        row.get('country_name', None),
        row.get('driver_gender', None),
        row.get('driver_age_raw', None),
        row.get('driver_age', None),
        row.get('driver_race', None),
        row.get('violation_raw', None),
        row.get('violation', None),
        row.get('search_conducted', None),
        row.get('search_type', None),
        row.get('stop_outcome', None),
        row.get('is_arrested', None),
        row.get('stop_duration', None),
        row.get('drugs_related_stop', None),
        row.get('vehicle_number', None)
    )
    mycursor.execute(insert_query,data_list)
mydb.commit()
print(f"Prepared {len(data_list)} rows for insertion")
mycursor.close()
mydb.close()

Prepared 16 rows for insertion